* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D4D5D7;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.row {

}

.headerfield {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #A3D336;
  border: 1px solid #222222;
  font-weight:900;
}

.schedulefield {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  border: 1px solid #666666;
  height: 70px;
  overflow: hidden;
}

.page-header {
  background-color: #A3D336;
  height: 120px;
  background-image:url('../img/headerbg.png');
  background-repeat:no-repeat;
}

header IMG {
  margin-top: 10px;
  margin-left: 50px;
}

nav {
  height: 30px;
  background-color: #9bc835;
}

#searchbar {
  margin-top: 20px;
  background-color: #A3D336;
  height: 100px;
  text-align: center;
}

#content {
  height: 400px;
  text-align: center;
  padding-top: 10px;
}