.schedule_nowrap {
  white-space: nowrap;
  min-width: 110px;
}

.schedule_column {
  max-width: 200px;
}

.schedule_column > BUTTON {
  margin-bottom: 5px;
}

.schedule_emptyrow {
  height:50px;
}

.freebusycell_selected {
	font-weight: 800;
}

.freebusyrow {
	vertical-align: middle;
}

.freebusyrow_button {
	width: 100px;
	overflow: hidden;
}